.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
.logo {
    width: 60px;
    height: 60px;
}
.nav-items > ul {
    display: flex;
    padding-right: 10px;
}
.nav-items > ul > li {
    padding:0px 8px;
    list-style: none;
    font-size: 14px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    
}
.res-card {
    width: 150px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}
.res-card:hover {
    border: 1px solid rgb(65, 65, 65);
    cursor: pointer;
}
.res-card img {
    width: 100%;
}
.search {
    padding: 10px;
}

/* top rated button  */
.filter-btn {
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
}